/* for every style */
.open-sans-font> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    
    background-color:#469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color:#FFFFFF;
    font-weight: 600;
    
}
.btn:hover{
    background-color: #2f6345;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.btn2{
    border: 1px solid#FFFFFF ;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    color:#FFFFFF;
    font-weight: 600;
}
.btn2:hover{
    background-color: #8d8d8d;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Start of navbar style */
.navbar {
    background-color:#ffffff;
    padding: 16px 120px; 
    }
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.navbar-container .logo img {
    width: 100%;
    height: 60px;
}
.menu {
     display: flex;
     list-style-type:none;
      align-items: center;
      gap: 32px;
     
}
.menu a{
     color: #000000;
     text-decoration: none;
     font-size: 16px;
     line-height: 152%;
     font-weight: 500;
}
/* end of navbar */

/* Start of banner */
#banner{
   
    width: 100%;
    height: 600px;
    text-align: center;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    
}
.banner-content{
    padding: 115px 120px 180px ; 
    text-align: center;
    color: white;
}
#banner .pill{
    border: 1px solid black;
    background-color:#ffffff;
    color:#469165;
    border-radius: 20px;
    width: 230px ;
    margin: 0 auto;
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) ;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
    text-shadow: -1px -1px 0 black,
      1px -1px 0 black,
     -1px  1px 0 black,
      1px  1px 0 black;;
    
}
#green{
    color: #30B868;
}
.banner-content p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
}
.banner-button{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

